html,
body {
  margin: 0;
  padding: 0;
  touch-action: manipulation;
  background-color: #fff;
  font-family: sans-serif;
}

.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

/* 左右のボタン縦並び */
.side-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.side-column button {
  width: 120px;
  height: 100px;
  font-size: 25px;
}

/* 中央カラム */
.center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-group label {
  font-size: 25px;
}

#reset-button {
  padding: 10px 20px;
  font-size: 16px;
}

.left {
  transform: rotate(90deg);
}
.right {
  transform: rotate(-90deg);
}
